.approvedStatus,
.canceledStatus,
.waitingStatus {
  align-items: center;
  border-radius: 24px;
  padding: 6px 12px;
}
.approvedStatus {
  color: #488c6e;
  background: #ecfdf3;
  border: 1px solid #488c6e;
}

.waitingStatus {
  background: #fffae8;
  color: #e0b300;
  border: 1px solid #e0b300;
}

.canceledStatus {
  color: #ff463d;
  background: #fff7f7;
  border: 1px solid #ff463d;
}
